.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-enter {
  opacity: 0.01;
}

.modal-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0.01;
  transition: opacity 150ms ease-out;
}